<h1>{{message}}</h1>
<div class="row">
    <div class="col-sm-8">
<form>
    
<input class="form-control" type="text" ng-model="name" placeholder="name" required><br/>
<input class="form-control" type="text" ng-model="salary" placeholder="salary" required><br/>
    <input class="form-control" type="text" ng-model="location" placeholder="location" required><br/>
    <input class="form-control" type="text" ng-model="description" placeholder="description" required><br/>
    <button class="btn btn-primary" type="button" ng-click="submit()">Submit</button>&nbsp;&nbsp;
    <button class="btn btn-warnig" type="reset" ng-click="reset()">Reset</button>
        </form></div></div>
<form>
    
<input class="form-control" type="text" ng-model="editdata.name" placeholder="name" required><br/>
<input class="form-control" type="text" ng-model="editdata.salary" placeholder="salary" required><br/>
    <input class="form-control" type="text" ng-model="editdata.location" placeholder="location" required><br/>
    <input class="form-control" type="text" ng-model="editdata.description" placeholder="description" required><br/>
    <button class="btn btn-primary" type="button" ng-click="submit()">Submit</button>&nbsp;&nbsp;
    
        </form>
<div class="table-responsive">
<table class="table">
    <thead>
    <th>Name</th>
        <th>Mark</th>
        <th>Salary</th>
        <th>Location</th>
        <th>Descrption</th>
        <th colspan="2">Action</th>
    </thead>
    <tbody>
    <tr ng-repeat="d in data">
        <td><input type="checkbox"ng-model="d.chbox"></td>
        <td>{{d.name}}</td>
        <td>{{d.salary}}</td>
        <td>{{d.location}}</td>
        <td>{{d.description}}</td>
        <td><button type="button" class="btn btn-link" ng-click="delete($index)">Delete</button></td>
        <td><button type="button" ng-click="edit($index)"class="btn btn-danger">Edit</button></td>
        </tr>
    </tbody>
    </table>
</div>